body {
    background-color: rgb(200, 216, 208);
}

.calculator {
    box-sizing: border-box;
    height: 600px;
    width: 500px;
    background-color: rgb(134, 175, 155);
    border-radius: 16px;
    margin: 80px auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgb(97, 136, 117);
}

.screen {
    box-sizing: border-box;
    min-height: 120px;
    border-radius: 8px;
    background-color: rgb(200, 216, 208);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 41, 22);
    margin-bottom: 16px;
    padding: 16px;
    box-shadow: inset 2px 2px 10px rgb(134, 175, 155);
}

.toptext {
    font-size: 24px;
    text-align: right;
}

.bottomtext {
    font-size: 48px;
    text-align: right;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.line {
    display: flex;
    flex: 1;
}

.btn {
    border: none;
    background-color: rgb(97, 136, 117);
    color:rgb(200, 216, 208);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding: 8px;
    margin: 2px;
    flex: 1;
    opacity: .8;
}

.btn:hover {
    cursor: pointer;
    opacity: 1;
}

footer {
    font-size: 25px;
    color: rgb(134, 175, 155);
    padding: 15px;
    text-align: center;
}

footer :link, footer :visited {
    color: rgb(134, 175, 155);
}